[Desktop Entry]
Name=Variety
Comment=Variety Wallpaper Changer
Categories=GNOME;GTK;Utility;
Exec=/bin/sh -c "sleep 20 && exec /usr/bin/variety"
MimeType=text/uri-list;x-scheme-handler/variety;x-scheme-handler/vrty;
Icon=variety
Terminal=false
Type=Application
StartupNotify=false
Keywords=Wallpaper;Changer;Change;Download;Downloader;Variety;
StartupWMClass=Variety
